<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Знак наших голосов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            {{#unless authenticated}}
                <li class="nav-item">
                    <a href="/registration/google" class="nav-link">Войти через Google</a>
                </li>
            {{else}}
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{userProfile.email}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{#if moderator}}
                    <a class="dropdown-item" href="/moderator">Модераторская</a>
                {{/if}}
                        <a class="dropdown-item" href="/profile">Профиль</a>
                        <a href="/logout" class="dropdown-item">Выйти</a>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            {{/unless}}
        </ul>

    </div>
</nav>
