<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
{{> navbar}}
<div class="container">
    {{#each assemblages}}
    <div style="margin-bottom: 10px" class="row mx-auto col-xl-6 border border-primary col-9">
        <h3>{{name}}</h3>
        <p>{{discription}}</p>
        <base href="/admin/assemblage/" />
        <a href="{{_id}}/edit">Редактировать</a>
        <a href="{{_id}}/delete">Удалить</a>
    </div>
    {{/each}}
</div>
{{> scripts}}
</body>
</html>