<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{> navbar}}
{{#if pictures.length}}
    <ul>
    {{#each pictures}}
    <li>
        <span><img src="{{path}}"></span>
    </li>
    {{/each}}
    </ul>
{{else}}
<p>No pictures in collections!</p>
{{/if}}
</body>
{{> footer}}
</html>
