<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
{{>navbar}}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Город</th>
            <th scope="col">Количество картинок</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Testovich</td>
        </tr>
        </tbody>
    </table>
</div>

{{>scripts}}
</body>
</html>