<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
{{>navbar}}

<div class="container">
    {{#if statistic.length}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Город</th>
            <th scope="col">Количество картинок</th>
        </tr>
        </thead>
        <tbody>
        {{#each statistic}}
        <tr>
            <th scope="row">{{math @key "+" 1}}</th>
            <td>{{_id}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
        <p>Нет доступной статистики!</p>
    {{/if}}
</div>
<a href=".">Вернуться назад</a>

{{>scripts}}
</body>
</html>