<!doctype html>
<html lang="en">

<body>
{{> navbar}}
<div class="container">
    <p class="text-align">
        Картинка отправлена на премодерацию.
        <br>
        <a href="/assemblage/id-{{id}}">Вернуться назад.</a>
    </p>
</div>
{{> scripts}}
</body>
</html>